body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#osu {
    display: block;
    width: 100%;
    height: 100%;
}

#songs li a {
    margin-left: 10px;
    cursor: pointer;
}